.song-image {
    width: 35%;
    height: auto;
    border-radius: 15px;
 }

 .image-container {
     text-align: center;
 }
 
 .songPlayer {
    width: 35%;
    margin: 0 auto;
 }

 .song-container {
 }

 .song-edit-buttons {
     text-align: right;
 }


 .song-title {
    text-decoration: none;
    color: #4A7C59;
    font-weight: bold;
    text-align: center;
}

.comments-container {
    margin: 25px 25px;
}
