.individual-song-title {
    color: white;
    text-align: center;
    font-size: x-large;
    box-shadow: 1px;
}

.song-image {
   width: 300px;
   height: 300px;
   padding: 15px 15px;
   /* background-color: #505658; */
   background-color: #1B1D1D;
 }

 .image-container {
    display: flex;
    width: 1050px;
    height: 330px;
 }
 

 .song-container {
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* justify-content: center; */
    align-items: center;
    /* width: 100%; */
    /* height: 100%; */
    z-index: 1;
    /* margin-top: 50px; */
 }


.editAndDelete {
    display: flex;
    flex-direction: column;
}

.audio-player-container {
    width: 70%;
}

.comments-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 700px;
    padding-right: 300px;
    min-height: 670px;

}

.background-container {
    /* display: flex;
    justify-content: center;
    align-items: center;
    position: relative; */
    background-color: #222425;
}

.background-image {
    /* width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(7px); */
}

.audio-player {
   /* background-color: #505658; */
   background-image: linear-gradient(to right, #585F62, #1B1D1D);
} 

.song-comment-container {
    display: flex;

}

.rhap_header {
    text-align: center;
    font-size: x-large;
    background-color: black;
    padding: 5px 10px;
    margin-top: 10px;
    max-width:fit-content;
}

.rhap_footer {
    font-size: large;
    color: rgba(255, 255, 255, 0.785);
    background-color: black;
    max-width:fit-content;
    position: relative;
    /* position: absolute; */
    padding: 5px 10px;
    top: -275px;
    /* top: 10%; */
}

/* .rhap_progress-section {
    margin: 50px;
} */

.duration {
    margin-top: 200px;
}

.rhap_current-time {
    color: #758dba;
    font-size: large;
}

.rhap_total-time {
    color: white;
    font-size: large;
}

.rhap_additional-controls {
    position: relative;
    left: 600px;
    top: -250px;
}
