.songImg {
    max-width: 50%;
    max-width: 50%; 
 }
 
 .songPlayer {
     max-width: 50%;
     max-width: 50%;
 }
 
 .eachSong {
     /* display: flex; */
     /* justify-content: center; */
 }

 .songLink {
    text-decoration: none;
    color: #8FC0A9;
}
