.song-link {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

.discover-title {
    text-align: center;
}

.discover-page {
    background: linear-gradient(#8CC3FC, black);
}

.discover-songs-container {
    display: grid;
    grid-template-columns: auto auto;
}



.image {
    width: 450px;
    height: 450px;
}
