.individual-song-title {
    color: white;
    text-align: center;
    font-size: x-large;
    box-shadow: 1px;
}

.song-image {
   width: 300px;
   height: 300px;
   padding: 15px 15px;
   /* background-color: #505658; */
   background-color: #1B1D1D;
 }

 .image-container {
    display: flex;
    width: 1050px;
    height: 330px;
 }
 

 .song-container {
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* justify-content: center; */
    align-items: center;
    /* width: 100%; */
    /* height: 100%; */
    z-index: 1;
    /* margin-top: 50px; */
 }


.editAndDelete {
    display: flex;
    flex-direction: column;
}

.audio-player-container {
    width: 70%;
}

.comments-container {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 721px;
    margin-top: 20px;
    margin-right: 325px;
    min-height: 100vh; /* Set a minimum height of the viewport height */
    flex-grow: 1; /* Allow the container to grow and occupy available space */
    border-right: 1px gray solid;
}

.background-container {
    /* display: flex;
    justify-content: center;
    align-items: center;
    position: relative; */
    background-color: #222425;
}

.audio-player {
   background-color: #292B2C;
   /* background-image: linear-gradient(to right, #585F62, #1B1D1D); */
   border-top: 1px solid gray;
} 

.song-comment-container {
    display: flex;

}

.rhap_header {
    text-align: center;
    font-size: x-large;
    background-color: black;
    padding: 5px 10px;
    margin-top: 10px;
    max-width:fit-content;
}

.rhap_footer {
    font-size: large;
    color: rgba(255, 255, 255, 0.785);
    background-color: black;
    max-width:fit-content;
    position: relative;
    /* position: absolute; */
    padding: 5px 10px;
    top: -255px;
    /* top: 10%; */
}

/* .rhap_progress-section {
    margin: 50px;
} */

.duration {
    margin-top: 200px;
}

.rhap_current-time {
    color: #758dba;
    font-size: large;
}

.rhap_total-time {
    color: white;
    font-size: large;
}

.rhap_additional-controls {
    position: relative;
   width: 5%;
}

.song-edit-container {
    position: relative;
}

.dropdown {
    position: relative;
    /* display: inline-block; */
}

.dropdown-button {
    background-color: black;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    
}

/* Style for the dropdown content (initially hidden) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Style for the dropdown options */
  .dropdown-option {
    padding: 8px 4px;
    text-decoration: none;
    display: block;
    color: #333;
    cursor: pointer;
  }
  
  /* Style for the dropdown options on hover */
  .dropdown-option:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown content when the button is hovered or clicked */
  .dropdown:hover .dropdown-content, .dropdown:focus-within .dropdown-content {
    display: block;
  }

  .edit-delete-container {
    display: flex;
    flex-direction: row;
    margin-right: 25px;
  }

  .sng-btn {
    background-color: gray;
    color: black;
    border: none;
    margin-right: 15px;
    padding: 7px;
    transition:  color 0.2s ease;
  }

  .sng-btn:hover {
    color: white;
    cursor: pointer;
  }

 
