.individual-song-title {
  color: white;
  text-align: center;
  font-size: x-large;
  box-shadow: 1px;
}

.song-image {
  position: absolute;
  top: 75px;
  z-index: -5;
  width: 450px;
  height: 450px;
  padding: 20px;
  /* background-color: #505658; */
  /* background-color: #1B1D1D; */
  background-color: #292b2c;
}

.image-container {
  display: flex;
  width: 1250px;
  height: 380px;
}

.song-container {
  display: flex;
  flex-direction: column;
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* justify-content: center; */
  align-items: center;
  /* width: 100%; */
  /* height: 100%; */
  z-index: 1;
  /* margin-top: 50px; */
}

.editAndDelete {
  display: flex;
  flex-direction: column;
}

.audio-player-container {
  width: 70%;
}

.comments-container {
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 835px;
  margin-top: 20px;
  margin-right: 300px;
  min-height: 100vh; /* Set a minimum height of the viewport height */
  flex-grow: 1; /* Allow the container to grow and occupy available space */
  border-right: 1px gray solid;
}

.background-container {
  /* display: flex;
    justify-content: center;
    align-items: center;
    position: relative; */
  background-color: #222425;
}

.audio-player {
  background-color: #292b2c;
  color: white;
  /* background-image: linear-gradient(to right, #585F62, #1B1D1D); */
  /* border-top: 1px solid gray; */
}

.song-comment-container {
  display: flex;
}

.rhap_header {
  text-align: center;
  font-size: x-large;
  background-color: black;
  padding: 5px 10px;
  margin-top: 10px;
  max-width: fit-content;
}

.rhap_footer {
  font-size: large;
  color: rgba(255, 255, 255, 0.785);
  background-color: black;
  max-width: fit-content;
  position: relative;
  /* position: absolute; */
  padding: 5px 10px;
  top: -255px;
  /* top: 10%; */
}

/* .rhap_progress-section {
    margin: 50px;
} */

.duration {
  margin-top: 200px;
}

.rhap_current-time {
  color: #758dba;
  font-size: large;
}

.rhap_total-time {
  color: white;
  font-size: large;
}

.rhap_additional-controls {
  position: relative;
  width: 5%;
}

.song-edit-container {
  position: relative;
}

.dropdown {
  position: relative;
  /* display: inline-block; */
}

.dropdown-button {
  background-color: black;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

/* Style for the dropdown content (initially hidden) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style for the dropdown options */
.dropdown-option {
  padding: 8px 4px;
  text-decoration: none;
  display: block;
  color: #333;
  cursor: pointer;
}

/* Style for the dropdown options on hover */
.dropdown-option:hover {
  background-color: #ddd;
}

/* Show the dropdown content when the button is hovered or clicked */
.dropdown:hover .dropdown-content,
.dropdown:focus-within .dropdown-content {
  display: block;
}

.sng-btn {
  background-color: transparent;
  color: white;
  border: none;
  margin-right: 10px;
  transition: color 0.2s ease;
  padding: 5px 15px;
  font-size: 15px;
  transition: 0.2s ease;
  cursor: pointer;
}

.sng-btn:hover {
  transform: scale(1.2);
}

.player-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px 0;
}

.song-header {
  font-weight: 50;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
    Garuda, Verdana, Tahoma, sans-serif;
  color: #ffffffd8;
  font-size: 25px;
  text-align: center;
  margin: initial;
  margin-top: 20px;
}

.song-footer {
  font-size: large;
  color: rgba(255, 255, 255, 0.785);
  position: relative;
  text-align: center;
  margin: initial;
  margin-top: 10px;
  margin-bottom: 20px;
}

.player-info {
    margin-top: 500px;
}

.user-buttons-container {
    display: flex;
}

.player-container .card-play-button {
    font-size: 175px;
    color: rgba(255, 255, 255, 0.724);
    transition: color 0.2s ease;
    position: relative;
    left: 0;
    top: 0;
}

.player-container .card-play-button:hover {
    color: #435982;
}

.player-btn {
    border: none;
    background-color: transparent;
    font-size: 45px;
    color: white;
    cursor: pointer;
  }