.comment-form-button {
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    padding: 2px 16px;
    min-height: 32px;
    border: none;
    color: #fff;
    background-color: transparent;
}

.add-comment-form-div {
    text-align: center;
}
