.card-audio-player {
    /* background-color: #292B2C; */
    background-color: transparent;
    color: white;
    box-shadow: none;
  }
  
  .card-audio-player .rhap_footer {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.785);
    background-color: transparent;
    max-width:fit-content;
    position: relative;
    padding: 5px 10px;
    top: -156px;
    right: -40px;
  }
  
  .card-audio-player .rhap_header {
    text-align: center;
    font-size: large;
    background-color: transparent;
    padding: 5px 10px;
    margin-top: 10px;
    max-width:fit-content;
    position: relative;
    top: 12px;
    right: -40px;
  
  }

  .card-audio-player .rhap_main-controls {
    position: relative;
    top: -50px;
  }
  
  /* .card-audio-player .card-play-button {
    position: relative;
    top: -300px;
  } */


  .like-btn-container {
    color: white;
  
  }

.bottom-audio-player-button-container {
  display: flex;
}

.song-title-container {
  display: flex;
  flex-direction: column;
}

.image.bottom-player {
  width: 50px;
  height: 50px;
}

.bottom-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.audio-player.bottom {
  padding: 0 350px;
}

.music-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.music-container .rhap_header {
  all: initial;
  color: white;
  text-align: center;
}

.music-container .rhap_volume-controls {
  justify-content: center;
}
