.playlist-btn {
    background-color: transparent;
    color: white;
    border: 1px solid rgba(128, 128, 128, 0.579);
    padding: 3px 8px;
    margin: 10px 5px;
    border-radius: 3px;
    cursor: pointer;
}

.playlist-btn i,span {
    padding: 0 4px;
}

.playlist-btn:hover {
    border: 1px solid rgba(128, 128, 128, 0.765);
}

.playlist-menu {
    background-color: white;
    width: 400px;
}

.playlist-tabs {
    display: flex;
    justify-content: space-around;
}
