.upload-form {
    max-width: 550px;
    max-height: 750px;
    margin: 20px;
}

.upload-title {
    color: #C1BCB6;
    padding-bottom: 8px;
    border-bottom: 1px solid gray;
}

.image-preview {
    margin: 0 5px;
    max-width: 500px;
    height: 350px;
}

.btn-container {
    display: flex;
    justify-content: end;
    margin-top: 25px;
}

.cancel-btn {
    background-color: black;
    color: white;
    outline: 0px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.save-btn {
    background-color: #25478a;
    color: white;
    border-radius: 3px;
    padding: 5px 15px 6px 15px;
    cursor: pointer;
    border: none;
    text-align: center;
}
