.song-link {
    text-decoration: none;
    color: #ffffff;
    /* text-align: center; */
}

.section-title {
    color: white;
    font-weight: 100;
    font-size: 24px;
    text-align: start;
}

.discover-page {
    min-height: 95%;
    
}

.discover-songs-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0px;
}

.discover-song-container {
    margin-bottom: 40px;
}

.song-title {
    margin: 0 5px;
    font-weight:50;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    text-decoration: none;
    color: #ffffffd8;
    text-align: left;
}

.song-artist {
    margin: 0 5px;
    font-weight: 100;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    text-decoration: none;
    color: #cbcbcb81;
    font-size: small;
    text-align: left;
}

.image {
    width: 200px;
    height: 200px;
}

.discover-carousel-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 50px;
    position: relative;
}

.container {
    width: 1050px;
}

.song-card {
    /* margin-left: 50px; */
}

.music-container {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.audio-player {
    background-color: #292B2C;
    color: white;

}

.card-play-button {
    background-color: rgba(255, 255, 255, 0);
    border: transparent;
    color: #5c6f92;
    font-size: 65px;
    position: absolute;
    padding: 10px 20px;
    top: 23%;
    left: 45%;
    cursor: pointer;
   
}

.card-container {
    position: relative;
    width: 50%;
}

.card-container image {
    width: 100%;
    height: auto;
}

.card-container:hover .card-play-button {
    display: inline;
}

.card-container .card-play-button {
    display: none;
}
.card-container .card-play-button:hover {
    color: #435982;
}

.fa-circle-play {
    pointer-events: none;
}

.disable {
    display: none;
}

.carousel-button-left {
    background-color: transparent;
    border: none;
    font-size: 50px;
    cursor: pointer;
    position: absolute;
    top: calc(45%);
    left: calc(28% + 1px);
}

.carousel-button-right {
    background-color: transparent;
    border: none;
    font-size: 50px;
    cursor: pointer;
    position: absolute;
    top: calc(45%);
    right: calc(28% + 1px);
}

.carousel-button-shuffle {
    background-color: transparent;
    color: #637394;
    border: none;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    top: calc(12% + 2px);
    right: calc(47%);
}

.carousel-button-left-library {
    background-color: transparent;
    border: none;
    font-size: 50px;
    cursor: pointer;
    position: absolute;
    top: calc(45%);
    left: calc(28% + 1px);
}

.carousel-button-right-library {
    background-color: transparent;
    border: none;
    font-size: 50px;
    cursor: pointer;
    position: absolute;
    top: calc(45%);
    right: calc(28% + 1px);
}

.carousel-button-shuffle-library {
    background-color: transparent;
    color: #637394;
    border: none;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    top: calc(12% + 2px);
    right: calc(47%);
}

