.form-title {
    text-align: center;
}

.edit-song-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 30px 25px;
    border: 1px solid grey;
    max-width: 350px;
    min-width: 350px;
    min-height: 350px;
    background-color: rgb(250, 250, 250);
}
