.sidetiles-container {
    width: 300px;
    margin: 35px 5px;
    margin-left: 25px;
}

.sidetiles-icon {
    width: 20px;
    color: white;
}

.sidetiles-topic {
    display: flex;
    flex-direction: column;
}

.sidetiles-header {
    display: flex;
}

.sidetiles-content .footer-ul {
    padding: 0;
}

.sidetiles-header h3 {
    /* Reset or override default styles for the h3 element */
    font-size: inherit; /* Inherit font size from parent */
    font-weight: inherit; /* Inherit font weight from parent */
    margin: 0; /* Remove any default margins */
    color: white;
    padding-left: 10px;
    /* Add any additional styles as needed */
  }

  .sidetiles-hr {
    width: 300px;
  }

  .right .sidetiles-hr {
    width: 302px;
  }

  .sidetiles-gif {
    width: 305px;
    height: auto;
  }

.footer-ul .bx {
    padding-right: 10px;
}

.sidetiles-ul {
  padding-left: 0;
}

.sidetiles-ul .link {
  padding: 10;
}
