h3 {
    font-weight: lighter;
    margin-bottom: 10px;
    margin-top: 1px;
    font-family: sans-serif;
    font-size: 1.5em;
}

.form-container {
    display: flex;
    justify-content: center;
}

.form-inputs-container {
    display: flex;
    flex-direction: column;
    padding: 0 75px;
}

.user-form-container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 0px 25px;
    padding-top: 20px;
    padding-bottom: 5px;
    min-width: 450px;
    min-height: 350px;
    background-color: black;
}

input {
    padding: 12px 12px;
    margin: 10px;
    border-radius: 3px;
    border: 1px solid grey;
    color: white;
    background-color: black;
}

.user-form-submit {
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    padding: 15px 67px;
    min-height: 32px;
    border: none;
    color: black;
    font-weight: 700;
    background-color: #4483ff;
    margin: 10px 15px;
    font-family: 'Inter', sans-serif;
    transition: transform 0.2s ease;
}

.user-form-submit:hover {
    transform: scale(1.05);
}


.submit-container {
    display: flex;
    justify-content: space-around;
}

.user-create-form-submit {
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    padding: 15px 48px;
    min-height: 32px;
    border: none;
    color: black;
    font-weight: 900;
    background-color: #4483ff;
    margin: 10px 15px;
    font-family: 'Inter', sans-serif;
    min-width: 75px;
    transition: transform 0.2s ease;
}

.user-create-form-submit:hover {
    transform: scale(1.05);
}


.field {
    display: flex;
    flex-direction: column;
}

.field label {
    color: white;
    margin-left: 15px;
}

.demo-label {
    margin: 0 15px;
    margin-top: 5px;
    text-align: center;
    border-top: 1px solid gray;
    color: gray;
}

.demo-button {
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    border: 1px transparent;
    white-space: normal;
    text-align: center;
    color: white;
    background-color: transparent;
    padding: 5px 10px;
    font-weight: 500;
    text-decoration: underline;
}

.demo-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.exit {
    width: 35px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px 5px;
}

.svg-container {
    color: white;
    transition: color 0.3s ease; /* Add a transition effect for the color property */
    transition: transform 0.2s ease;

}

.svg-container:hover {
    color: #4483ff;
    transform: scale(1.05);

}
