.discover {
    display: flex;
    flex-direction: column;
}

.carousel-container {
    display: flex;
    justify-content: center;
}


.img-slider {
    display: flex;
    justify-content: center;
}

.centering {
    border-top: 5px solid #627395;
    max-width: 1250px;
}

.carousel-div {
    height: 425px;
}

.carousel-title {
    color: white;
    position: absolute;
    top: 25%;
    left: 10%;
    font-size: 2em;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

.carousel-text {
    color: white;
    position: absolute;
    top: 45%;
    left: 10%;
    font-size: 1em;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

.grid-container-splash {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    justify-items: start;
    align-items: center;
}

/* Media query for screens 768px and under */
@media (max-width: 768px) {
    .grid-container-splash {
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto auto;
    }
    .carousel-div {
        height: 325px;
    }
  }

.grid-card {
    padding: 0 20px;
    position: relative;
}

.grid-header {
    text-align: center;
    color: white;
    font-weight: lighter;
    font-size: 150%;
}

.card-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 50;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    text-decoration: none;
    color: #ffffffd8;
    font-size: small;
    text-align: left;
    width: 175px;
}

.card-artist {
    font-weight: 100;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    text-decoration: none;
    color: #cbcbcb81;
    font-size: small;
    text-align: left;
}

.card-image {
    width: 175px;
    height: 175px;
}

.footer {
    display: flex;
    justify-content: center;
}

.footer-links-container {
    display: flex;
    flex-direction: column;
    min-width: 1250px;
    border-top: 1px solid rgb(108, 108, 108);
    margin-top: 20px;
}

.link {
    text-decoration: none;
    color: rgb(187, 187, 187);
    font-family: "Segoe UI","Helvetica Neue",sans-serif;
    transition: color 0.3s ease; /* Add a transition effect for the color property */
    transition: transform 0.2s ease;
}

a.link:hover {
    color: white;
    transform: scale(1.05);
    text-decoration: underline;
}

.footer-ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer-ul li {
    margin-bottom: 5px;
    color: #BBBBBB;
    font-family: "Segoe UI","Helvetica Neue",sans-serif;
}

.footer-section {
    color: white;
}

.discover-audio-player {
    position: fixed;
    bottom: 0;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    color: white;
}

#discover-search {
    width: 407px;
    height: 15px;
    color: white;
    background-color: black;
    border: transparent;
    border-radius: 5px;
    padding: 10px 10px;
    font-weight: 700;
}

#header-search {
    width: 525px;
    height: 25px;
    color: grey;
    background-color: black;
    border: transparent;
    border-radius: 5px;
    font-size: large;
}

.grid-card-play-button {
    background-color: rgba(255, 255, 255, 0);
    border: transparent;
    /* border: 1px red solid; */
    padding: 45px 55px;
    color: #6d90d1;
    font-size: 65px;
    cursor: pointer;
    
}

.grid-card:hover .grid-card-play-button {
    display: inline;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.472));
    transition: height 0.5s ease, opacity 0.5s ease;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.grid-card .grid-card-play-button {
    display: none;
}
