.profile-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-head {
    width: 1050px;
    height: 250px;
    background: linear-gradient(135deg, #25478a, #888888);
    text-align: center;
    display: flex;
}

.profile-body {
    width: 1050px;
    height: auto;
}

.profile-icon {
    width: 200px;
    height: 200px;
    border-radius: 500px;
    background: linear-gradient(315deg, #25478a87, #888888);
    margin: 30px 30px;
}

.profile-username {
    font-size: x-large;
    background-color: black;
    padding: 5px 10px;
    margin-top: 10px;
    color: white;
    font-weight: 400;
    height: min-content;
    margin-top: 30px;
}

.user-info-bar {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gray;
  margin: 0 20px;
  margin-top: 15px;
}

.user-info-bar li {
  margin-left: 20px;
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 5px;
  position: relative;
}

.user-info-bar li::before {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid transparent;
}

.user-info-bar li:hover::before {
  border-bottom: 2px solid gray; /* Keep the gray bottom border on hover */
}

.user-info-bar a {
  color: white;
}

.user-info-bar a.active {
  padding-bottom: 4px;
  color: #496cb4;
  border-bottom: 3px solid #3f62a8;
  pointer-events: none;
  cursor: default;
}


.image-audio-container {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
  padding-left: 20px;
  padding-bottom: 30px;
}



.split-container {
  display: flex;
  flex-direction: row;
  
}



.left {
  height: fit-content;
  margin-top: 20px;
  min-height: 100vh; /* Set a minimum height of the viewport height */
  flex-grow: 1; /* Allow the container to grow and occupy available space */
  border-right: 1px gray solid;
}


.playlist-link {
  display: flex;
  color: white;
  width: 100%;
}

.playlist-info {
  width: 100%;
}


.playlist-header, .playlist-user {
    text-align: center;
    font-size: large;
    background-color: transparent;
    max-width:fit-content;
    padding-left: 7px;
    margin: initial;
}

.playlist-btn-info-container {
  display: flex;
}


.playlist-play-button {
  margin-top: 15px;
  margin-left: 15px;
  font-size: 32px;
  color: #5e85d1;
  /* height: 50px; */
}

.playlist-header {
  color: rgba(255, 255, 255, 0.866);

}

.playlist-user {
  margin-top: 15px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.785);

}

.playlist-user:hover, .playlist-header:hover {
  color: white;
}


.song-li-container {
  margin-top: 50px;
  margin-left: 10px;
  width: 100%;
}

.song-li {
  display: flex;
  border: 1px solid gray;
  margin-left: 8px;
  padding: 5px 8px;
  margin-right: 15px;
}

.playlist-song-title {
  color: rgb(171, 171, 171);
}

.tiny-image {
  width: 20px;
  height: 20px;
  margin-right: 5px
}

.song-li li:second-child {
  font-weight: bold;
  color: #FF0000;
  /* Add any other styles you want */
}

.song-info {
  display: flex;
  padding: initial;
  margin: initial;
}

.song-info li {
  margin-right: 5px;
}
