/* TODO Add site wide styles */
html,body,#root {
    width: auto;
    height: 100%;
    margin: 0;
  }

::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(29, 29, 29);
    border-radius: 10px;
  }


body {
    /* background-color: #8CC3FC; */
    background-color: #222425;
  }

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: transparent;
}


