.background-img {
    max-height: 60%;
    width: 100%;
    position: absolute;
    top: 0;
}

.grid-img {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    margin-top: 20px;
    width: 99.5%;
}
