

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.img-slider {
    display: flex;
    justify-content: center;
}

.centering {
    width: 1420px;
}

.carousel-div {
    max-height: 500px;
}

.carousel-text {
    color: white;
    position: absolute;
    top: 25%;
    left: 25%;
    font-size: 2vw;
}
