.add-song-button {
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    color: white;
    font-family: sans-serif;
}

.hidden-text {
    display: none;
}

.text {
    font-size: 20px;
    padding-right: 7px;
}

.add-song-button:hover .hidden-text{
    display: inline-block;
}


.song-form-container {
    min-width: 450px;
    min-height: 300px;
    padding: 0 20px;
    padding-bottom: 20px;
    background-color: black;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.song-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: black;
    border-radius: 10px;
    min-width: 450px;
    min-height: 350px;
}



.vl {
    border-left: 1px white solid;
    height: 300px;
    position: relative;
    left: 50%;
    top: 15%;
}

.add-song-form {
    margin-top: 25px;
}
