.form-button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 16px;
    height: 32px;
    min-width: 60px;
    min-height: 32px;
    border: none;
    color: #fff;
    background-color: #4f545c;
    margin: 20px 50px;
}

.add-comment-form-div {
    padding: 20px 20px;
}

label {
    font-weight: 200;
}
