.add-song-button {
    border: transparent;
    background-color: transparent;
    font-size: 18px;
    cursor: pointer;
    color: white;
    font-family: sans-serif;
}

.song-form-container {
    min-width: 450px;
    min-height: 300px;
}
.add-song-form {
    margin-top: 25px;
}
