li {
  list-style-type: none;
  text-align: center;
}

.navbar {
  display: flex;
  position: sticky;
  justify-content: space-around;
  top: 0;
  z-index: 1;
  background-color: transparent;
  border-radius: 5px;
  padding: 10px 10px;
}

.navbar-home {
  display: flex;
  position: sticky;
  justify-content: space-around;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: rgb(51,51,51);
  height: 50px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feed-button {
  outline: none;
  cursor: pointer;
  border: 1px solid black;
  border-style: none solid none none;
  white-space: normal;
  text-align: center;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  padding: 15px 15px;
}

.feed-user-button {
  outline: none;
  cursor: pointer;
  border: 1px solid black;
  border-style: none solid none none;
  white-space: normal;
  text-align: center;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  padding: 15px 15px;
  position: absolute;
  right: 0;
}

/* .feed-user-button:focus {
  background-color: black;
} */

.email {
  color: rgb(255, 255, 255);
}

.button {
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.523);
  white-space: normal;
  text-align: center;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  padding: 5px 10px;
  margin-right: 15px;
  text-decoration: none;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 3vw;
}



.title-link {
  display: flex;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-size: normal;
  background-color: black;
}



.splash-title-link {
  display: flex;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-size: normal;
}

.splash-icon {
  width: 50px;
  padding: 0 10px;
}

h2 {
  font-weight: lighter;
  font-size: 100%;
}

.home-page-buttons-container {
  display: flex;
}

.profile-container {
  display: flex;
}


.profile-username-button-container {
  border: transparent;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.848);
  cursor: pointer;
}

.profile-username-button-container:hover {
  color: white;
}

.username {
  font-size: normal;
  margin-top: 3px;
}

.fa-angle-down {
  padding: 20px 7px;
  font-size: x-small;
}

.profile-dropdown {
  padding: 0;
  background-color: rgb(51,51,51);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  position: absolute;
  width: 135px;
  right: 0;
  
}

.logout-button {
  background-color: transparent;
  width:max-content;
  border: transparent;
}

.logout-button:hover {
  background-color: rgba(128, 128, 128, 0.274);
}

.user-icon {
  width: 25px;
  margin-right: 10px;
  transform: rotate(45deg);
}

.fa-arrow-right-from-bracket {
  font-size: small;
}
