li {
    list-style-type: none;
    
}

.navBar {
    display: flex;
    position: sticky;
    justify-content: space-between;
    background-color: white;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: #C8D5B9;
}

body {
    background-color: #FAF3DD;
}


.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 13vw;
}


.icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    width: 3vw;
    
}

.title {
    text-decoration: none;
    color: inherit;
}
